.wd-currentweather .weathericon,
.wd-currentweather .fa-home {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  transform: translate(0, -3px);
}

.wd-currentweather .humidityIcon {
  padding-right: 4px;
}

.wd-currentweather .humidity-padding {
  padding-bottom: 6px;
}
